<form action="/" method="post">


  {{!-- email input --}}
  <input type="text" name="email" placeholder="Email">

  {{!-- password input --}}
  <input type="text" name="password" placeholder="Password">


  <button type="submit">Login</button>
  <div><p>First time here? Click <a href="signup">here</a> to sign up!</p></div>

</form>