<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-3 mx-auto text-center">
      <h1>Welcome <span class="member-name"></span></h1>
	  
	  <h5><p>
        Welcome to Pet Rescue Home, A forum dedicated to finding a perfect home for privately owned and sheltered pets. We
        wanted an easier way for people to find and post pets for adoption.
      </p>
      </h5>
	  <div class="row d-flex justify-content-center">
      <div class="column" style="background-color:rgba(23, 91, 103, 0.75);opacity:5;border-radius: 3px;">
        <p style="margin-bottom:30px ;  padding: 10px;"><a href="/privateOwner" style="color: white;font-size:1rem">
            Visit our Private Owners Section to find and post pets for adoption without the need for a pet shelter!
          </a></p>
     
        <p><a href="/shelter" style="color: white;font-size:1rem">
            Visit our Shletered Pets section to find pets posted by shelters near you!
          </a></p>
           </div>
     </div>
      </div>
      </div>
      </div>