
<section>

  {{#each shelterPets as |shelterPet|}}

    <article>
      <div class="col-md-4">
    <p>
     Name:
      {{shelterPet.petname}}
    </p>
  </div>
  <div class="col-md-5">
    <p>
      Description:
      {{shelterPet.petdescription}}
    </p>
  </div>
  <div class="col-md-5">
    <p>
      Breed:
      {{shelterPet.petbreed}}
    </p>
  </div>
    <div class="col-md-5">
    <p>
      Post Code:
      {{shelterPet.postcode}}
    </p>
  </div>
 
    </article>

  {{/each}}



</section>
