<section>
    <div class="container justify-content-center" style="margin-left: 200px;">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center ">
                {{#each shelterPets as |shelterPet|}}

                <article>
                    <div class="card w-100" style="width: 100%;">
                        <div class="card-body">
                            <div >
                                <p>
                                    Name:
                                    {{shelterPet.petname}}
                                </p>
                            </div>
                            <div >
                                <p>
                                    Description:
                                    {{shelterPet.petdescription}}
                                </p>

                            </div>
                            <div >
                            <p>
                                Breed:
                                {{shelterPet.petbreed}}
                            </p>
                            </div>
                            <div >

                                <p>
                                    Post Code:
                                    {{shelterPet.postcode}}
                                </p>
                            </div>

                </article>

                {{/each}}



</section>